{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-site-verification" content="r_lWAEyuwCE5qpDOL9zqj2-G9dAkVScOyJ7__7u94W0" />
  <link rel="icon" type="image/x-icon" href="{% static 'img/icon.ico'%}">
  <link rel="preload" as="font" href="{% static 'fonts/lato-v20-latin-ext_latin-regular.woff2' %}" type="font/woff2">
  <link rel="preload" as="font" href="{% static 'fonts/lato-v20-latin-ext_latin-700.woff2' %}" type="font/woff2">
  <link rel="preload" as="font" href="{% static 'fonts/lato-v20-latin-ext_latin-900.woff2' %}" type="font/woff2">
  <link rel="preload" as="font" href="{% static 'fonts/merriweather-v27-latin-ext_latin-regular.woff2' %}"
    type="font/woff2">
  <link rel="preload" as="font" href="{% static 'fonts/merriweather-v27-latin-ext_latin-700.woff2' %}"
    type="font/woff2">
  <link rel="preload" as="font" href="{% static 'fonts/merriweather-v27-latin-ext_latin-900.woff2' %}"
    type="font/woff2">
  <link rel="preload" as="font" href="{% static 'fonts/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.woff' %}"
    type="font/woff">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="preload" as="image" href="{% static 'img/webp/photo1.webp' %}">
  <link rel="preload" as="image" href="{% static 'img/webp/photo2.webp' %}">
  <link rel="preload" as="image" href="{% static 'img/webp/photo1_2x.webp' %}">
  <link rel="preload" as="image" href="{% static 'img/webp/photo2_2x.webp' %}">
  <link rel="stylesheet" href="{% static 'prism/prism.css'%}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
 <style>
  .comment {
    display: inline;
    background-color: transparent;
    padding: 0;
  }
 </style>
  <title>Refactoring Daily</title>
  <style>
    #cookie-consent-banner {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 15px;
      z-index: 1000;
      display: none;
      /* Hidden by default */
    }

    #cookie-consent-banner button {
      background-color: #f1d600;
      border: none;
      padding: 10px 20px;
      margin: 0 5px;
      cursor: pointer;
      color: #333;
    }

    #cookie-consent-banner button.reject {
      background-color: #e63946;
      color: #fff;
    }
  </style>
</head>

<body>
  <header>
    <div class="container">
      <div class="header-top d-flex justify-content-between align-items-center">
        <div class="header-top-logo">
          <a href="/">
            <img width="32" height="32" src="{% static 'img/webp/logo_2x.webp' %}" alt="Dblog logo">
          </a>
        </div>
        <div class="header-top-text d-none d-lg-block">
          <!-- <p class="font-secondary">
            <span class="fst-italic">“Modern Javascript”</span>
            <span>book is available!</span>
            <a class="header-top-text-link" href="./shop.html" title="Modern Javascript Book">Check out</a>
          </p> -->
        </div>
        <div class="d-flex align-items-center d-lg-block position-relative">
          <div class="header-top-search">
            <div class="header-top-search-btn">
              <i class="pe-7s-search"></i>
            </div>
            <form id="search-form" action="#" method="get">
              <input type="text" class="form-control" placeholder="Search...">
              <button class="btn" type="submit"><i class="pe-7s-search"></i></button>
            </form>
          </div>
          <a href="#" class="light-link d-block d-lg-none" title="Menu">
            <div id="menu-animate-icon" class="header-top-nav-menu-icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
        </div>
      </div>
      <nav class="header-nav d-none d-lg-block">
        <ul class="d-block d-lg-flex">
          <li class="active">
            <a href="/" title="Start page">Start page</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" title="Blog articles">Blog articles</a>
            <ul class="dropdown-menu">
              {% for category in categories %}
              <li
                class="nav-elipse-{% if forloop.counter0 == 0%}blue{% elif forloop.counter0 == 1%}red{%elif forloop.counter0 == 2%}yellow{% elif forloop.counter0 == 3%}green{% endif %}">
                <a href="/{{ category.slug }}" title="Blog CSS articles">{{ category.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <a href="/about_me" title="About me">About me</a>
          </li>
          <li>
            <a href="/portofolio" title="My projects">My projects</a>
          </li>
          <li>
            <a href="/contact" title="Contact me">Contact me</a>
          </li>
          <li class="buyproducts-link d-flex align-items-center">
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- MOBILE NAVIGATION -->
  <nav class="mobile-nav header-nav">
    <div class="container">
      <div class="row">
        <div id="mobile-menu" class="col-lg-12">
          <!-- Auto Copy Header Navigation -->
        </div>
      </div>
    </div>
  </nav>
  {% block content %}

  {% endblock %}

  {% include 'blog/partial/footer.html'%}
  
  <!-- end FOOTER -->
  <!-- Full-width Cookie Consent Banner -->
  <div id="cookie-consent-banner">
    <p>This website uses cookies to ensure you get the best experience. <a href="/cookie-policy/"
        style="color: #f1d600;">Learn more</a></p>
    <button id="accept-cookies">Accept</button>
    <button id="reject-cookies" class="reject">Reject</button>
  </div>
  <script type="text/javascript" src="{% static 'lib/glide.min.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'lib/bootstrap.min.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'lib/reframe.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script src="{% static 'prism/prism.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Check if cookie consent has already been given
        if (!getCookie('cookie_consent')) {
            document.getElementById('cookie-consent-banner').style.display = 'block';
        }

        document.getElementById('accept-cookies').addEventListener('click', function() {
            setCookie('cookie_consent', 'accepted', 30); // Set a cookie for 30 days
            document.getElementById('cookie-consent-banner').style.display = 'none';
            // You can enable cookies here or reload the page to allow tracking cookies
        });

        document.getElementById('reject-cookies').addEventListener('click', function() {
            setCookie('cookie_consent', 'rejected', 30); // Set a cookie for 30 days
            document.getElementById('cookie-consent-banner').style.display = 'none';
            // You can disable cookies or block third-party scripts here
        });

        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }

        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
    });
</script>
</body>

</html>