{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="banners">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="banner-wrapper">
          <a href="/{{ featured_articles.feature1.category.slug}}/{{ featured_articles.feature1.slug}}" title="Leveling up in CSS">
            <div class="banner-wrapper-content">
              <h2 class="h4">{{ featured_articles.feature1}}</h2>
              <span class="banner-wrapper-content-tag category-tag-white">{{ featured_articles.feature1.category }}</span>
              <time datetime="2022-01-18" class="banner-wrapper-content-time">{{ featured_articles.feature1.created_at|date:"F d, Y" }}</time>
            </div>
          </a>
          <img class="img-fluid" srcset="{% static 'img/webp/photo1.webp' 767w %}"
            src="{% static 'img/webp/photo1_2x.webp' %}" alt="Post Photo" width="428" height="366">
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="banner-wrapper">
          <a href="/{{ featured_articles.feature2.category.slug}}/{{ featured_articles.feature2.slug}}" title="Evolving the Google Identity">
            <div class="banner-wrapper-content">
              <h2 class="h4">{{ featured_articles.feature2 }}</h2>
              <span class="banner-wrapper-content-tag category-tag-white">{{ featured_articles.feature2.category }}</span>
              <time datetime="2022-01-18" class="banner-wrapper-content-time">{{ featured_articles.feature2.created_at|date:"F d, Y" }}</time>
            </div>
          </a>
          <img class="img-fluid" srcset="{% static 'img/webp/photo2.webp' 767w %}"
            src="{% static 'img/webp/photo2_2x.webp' %}" alt="Post Photo" width="428" height="366">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="banner-wrapper">
          <a href="/{{ featured_articles.feature3.category.slug}}/{{ featured_articles.feature3.slug}}" title="Angular 2 versus React: There Will Be Blood">
            <div class="banner-wrapper-content">
              <h2 class="h4">{{ featured_articles.feature3 }}</h2>
              <span class="banner-wrapper-content-tag category-tag-white">{{ featured_articles.feature3.category }}</span>
              <time datetime="2022-03-01" class="banner-wrapper-content-time">{{ featured_articles.feature3.created_at|date:"F d, Y" }}</time>
            </div>
          </a>
          <img class="img-fluid" srcset="{% static 'img/webp/photo3.webp' 767w %}"
            src="{% static 'img/webp/photo3_2x.webp' %}" alt="Post Photo" width="271" height="233">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="banner-wrapper">
          <a href="/{{ featured_articles.feature4.category.slug}}/{{ featured_articles.feature4.slug}}" title="The End of Global CSS">
            <div class="banner-wrapper-content">
              <h2 class="h4">{{ featured_articles.feature4}}</h2>
              <span class="banner-wrapper-content-tag category-tag-white">{{ featured_articles.feature4.category }}</span>
              <time datetime="2022-01-18" class="banner-wrapper-content-time">{{ featured_articles.feature4.created_at|date:"F d, Y" }}</time>
            </div>
          </a>
          <img class="img-fluid" srcset="{% static 'img/webp/photo4.webp' 767w %}"
            src="{% static 'img/webp/photo4_2x.webp' %}" alt="Post Photo" width="271" height="233">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="banner-wrapper">
          <a href="/{{ featured_articles.feature5.category.slug}}/{{ featured_articles.feature5.slug}}" title="Building an CSS Framework">
            <div class="banner-wrapper-content">
              <h2 class="h4">{{ featured_articles.feature5}}</h2>
              <span class="banner-wrapper-content-tag category-tag-white">{{ featured_articles.feature5.category }}</span>
              <time datetime="2022-01-18" class="banner-wrapper-content-time">{{ featured_articles.feature5.created_at|date:"F d, Y" }}</time>
            </div>
          </a>
          <img class="img-fluid" srcset="{% static 'img/webp/photo5.webp' 767w %}"
            src="{% static 'img/webp/photo5_2x.webp' %}" alt="Post Photo" width="271" height="233">
        </div>
      </div>
    </div>
  </div>
</section>
<main>
  <div class="container">
    <div class="row">
      <!-- ARTICLES -->
      <div class="col-lg-8 col-xs-12">
        <section class="articles">
          <!-- <article class="blue-article">
            <div class="articles-header">
              <time datetime="2022-10-11">12 hours ago</time>
              <span class="articles-header-tag-blue">Hot</span>
              <span class="articles-header-category">
                <a href="#" class="blue" title="">CSS</a>
              </span>
            </div>
            <div class="articles-content">
              <h2>
                <a href="blog_post.html" title="">
                  10 Interview Questions Every JavaScript Developer Should Know
                </a>
              </h2>
              <p class="font-secondary articles-content-text">
                  I was young, single, and freshly employed to direct National Journal’s Presentation
                  Center, a searchable library of white-label
                  PowerPoint presentations on political and policy developments. By day, I led a team of
                  fellows in creating data
                  visualizations...
              </p>
            </div>
            <div class="articles-footer d-flex justify-content-between align-items-start align-items-md-center flex-column flex-md-row-reverse">
              <ul class="articles-footer-info d-flex align-items-center">
                <li>
                  <a href="#" class="light-link d-flex align-items-center" title="">
                    <i class="pe-7s-comment"></i>
                    7 Response
                  </a>
                </li>
                <li>
                  <a href="#" class="light-link d-flex align-items-center" title="">
                    <i class="pe-7s-like"></i> 
                    1221
                  </a>
                </li>
              </ul>
              <a title="" class="btn" href="blog_post.html">Read more</a>
            </div>
          </article>

          <article class="red-article">
            <div class="articles-header">
              <time datetime="2022-10-11">January 16, 2022</time>
              <span class="articles-header-category">
                <a href="#" class="red" title="">Javascript</a>
              </span>
            </div>
            <div class="articles-content">
              <h2>
                <a href="blog_post.html" title="">State of the Art JavaScript in 2022</a>
              </h2>
              <p class="font-secondary articles-content-text">
                  Class in JS is not harmless sugar for prototypal OO. Class is a virus that infects
                  everything it touches. It came to us formally
                  in
                  JavaScript with ES6, and at the same time, React was taking off. Lots of people started
                  using classes for React components...
              </p>
            </div>
            <div class="articles-footer d-flex justify-content-between align-items-start align-items-md-center flex-column flex-md-row-reverse">
              <ul class="articles-footer-info d-flex align-items-center">
                <li>
                  <a title="" href="#" class="light-link d-flex align-items-center">
                    <i class="pe-7s-comment"></i>
                    7 Response
                  </a>
                </li>
                <li>
                  <a title="" href="#" class="light-link d-flex align-items-center">
                    <i class="pe-7s-like"></i>  1221
                  </a>
                </li>
              </ul>
              <a title="" class="btn" href="blog_post.html">Read more</a>
            </div>
          </article>

          <article class="yellow-article">
            <div class="articles-header">
              <time datetime="2022-10-11">12 hours ago</time>
              <span class="articles-header-category"><a title="" href="#" class="yellow">CSS</a></span>
            </div>
            <div class="articles-content">
              <h2>
                <a title="" href="#">Want to learn JavaScript in 2022?</a>
              </h2>
              <p class="font-secondary articles-content-text">
                  This is a walk-through of the steps I personally took in a single year, to begin
                  learning JavaScript. My goal was to be able to
                  get
                  a job in a position where Javascript would be at the forefront of what I do on a daily
                  basis...
              </p>
            </div>
            <div class="articles-footer d-flex justify-content-between align-items-start align-items-md-center flex-column flex-md-row-reverse">
              <ul class="articles-footer-info d-flex align-items-center">
                <li>
                  <a title="" href="#" class="light-link d-flex align-items-center">
                    <i class="pe-7s-comment"></i>
                    7 Response
                  </a>
                </li>
                <li>
                  <a title="" href="#" class="light-link d-flex align-items-center">
                    <i class="pe-7s-like"></i>  1221
                  </a>
                </li>
              </ul>
              <a title="" class="btn" href="blog_post.html">Read more</a>
            </div>
          </article> -->
          {% for post in page_obj%}
          <article>
            <div class="articles-header">
              <time datetime="2022-10-11">{{ post.created_at | timesince}}</time>
              <span class="articles-header-category"><a title="" href="#" class="grey">Other</a></span>
            </div>
            <div class="articles-content">
              <h2>
                <a title="" href="{{post.category.slug}}/{{post.slug}}">{{ post.title }}</a>
              </h2>
              <p class="font-secondary articles-content-text">
                {{ post.content | safe | truncatewords:40}}
              </p>
            </div>
            <div
              class="articles-footer d-flex justify-content-between align-items-start align-items-md-center flex-column flex-md-row-reverse">
              <ul class="articles-footer-info d-flex align-items-center">
                <li>
                  <a title="" href="#" class="light-link d-flex align-items-center">
                    <i class="pe-7s-comment"></i>
                    7 Response
                  </a>
                </li>
                <li>
                  <a title="" href="#" class="light-link d-flex align-items-center">
                    <i class="pe-7s-like"></i> 1221
                  </a>
                </li>
              </ul>
              <a title="" class="btn" href="{{post.category.slug}}/{{post.slug}}">Read more</a>
            </div>
          </article>

          {% endfor %}
          <!-- <article>
            <div class="articles-header">
              <time datetime="2022-10-11">12 hours ago</time>
              <span class="articles-header-category"><a title="" href="#" class="grey">Other</a></span>
            </div>
            <div class="articles-content">
              <h2>
                <a title="" href="blog_post.html">Want to learn JavaScript in 2022?</a>
              </h2>
              <p class="font-secondary articles-content-text">
                This is a walk-through of the steps I personally took in a single year, to begin
                learning JavaScript. My goal was to be able to
                get
                a job in a position where Javascript would be at the forefront of what I do on a daily
                basis...
              </p>
            </div>
            <div class="articles-footer d-flex justify-content-between align-items-start align-items-md-center flex-column flex-md-row-reverse">
              <ul class="articles-footer-info d-flex align-items-center">
                <li>
                  <a title="" href="#" class="light-link d-flex align-items-center">
                    <i class="pe-7s-comment"></i>
                    7 Response
                  </a>
                </li>
                <li>
                  <a title="" href="#" class="light-link d-flex align-items-center">
                    <i class="pe-7s-like"></i>  1221
                  </a>
                </li>
              </ul>
              <a title="" class="btn" href="blog_post.html">Read more</a>
            </div>
          </article> -->

          <!-- PAGINATION -->
          <nav class="articles-navigation d-flex justify-content-between align-items-center" aria-label="...">
            {% if page_obj.has_previoys %}
            <a title="" href="?page=1" class="btn-small-white pagination-back">&laquo; first</a>
            <a title="" href="?page={{ page.obj.previous_page_number }}"
              class="btn-small-white pagination-back">previous</a>
            {% endif %}
            <ul class="pagination d-none d-md-flex">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
              {% endif %}
            
              <!-- Loop through all pages -->
              {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                  <!-- Highlight current page -->
                  <li class="page-item active">
                    <a class="page-link" href="#">{{ num }} <span class="sr-only">(current)</span></a>
                  </li>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                  <!-- Show pages close to current page -->
                  <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            
              <!-- Add '...' if more than 5 pages and current page is not near the last page -->
              {% if page_obj.paginator.num_pages > 5 and page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                <li class="page-item page-item-more"><a class="page-link" href="#">...</a></li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                </li>
              {% endif %}
            
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
              {% endif %}
            </ul>
            
            <!-- <ul class="pagination d-none d-md-flex">
              <li class="page-item active">
                <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item page-item-more"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link" href="#">25</a></li>
            </ul>
            <a title="" href="blog_post.html" class="btn-small-white pagination-next">Next</a> -->
          </nav>
        </section>
      </div>

      <!-- AUTHOR -->
      {% include 'blog/partial/profile.html' %}
    </div>
  </div>
</main>
{% endblock %}