{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
  <div class="container">
    <div class="category-title d-flex align-items-center justify-content-between">
      <h1 class="h1">Portfolio</h1>
      <div>
        <span class="portfolio-amount-items"></span>
        <span>Projects</span>
      </div>
    </div>
    <nav class="portfolio-menu menu-filter">
      <ul class="d-flex flex-wrap flex-md-nowrap">
        <li class="active">
          <a href="#" data-filter="all" title="All">All</a>
        </li>
        <li>
          <a href="#" data-filter="applications" title="Applications">Web Applications</a>
        </li>
        <li>
          <a href="#" data-filter="frameworks" title="Frameworks">Desktop Applications</a>
        </li>
        <li>
          <a href="#" data-filter="frameworks" title="Frameworks">Embedded System</a>
        </li>
      </ul>
    </nav>
    <div class="portfolio">
      <p class="portfolio-empty filter-empty d-flex align-items-center d-none">
        <i class="pe-7s-attention"></i>
        No items at this category. Sorry!
      </p>
      <div class="portfolio-item filter-item white-box" data-filter="applications">
        <div class="portfolio-item-wrapper filter-item-default d-flex flex-column flex-lg-row">
          <div class="filter-item-wrapper-left">
            <div class="d-flex align-items-md-center flex-column flex-md-row">
              <h2 class="fw-900">SFE Electronics</h2>
              <span class="filter-item-category">Applications</span>
            </div>
            <p class="filter-item-text">
              SFE Electronics is No 1 Indonesian Online Electronics Component store founded in 2012. They sell various
              components electronics from passive component, active component, connector, etc
            </p>
            <button class="btn">Read more</button>
          </div>
          <div class="filter-item-wrapper-right d-flex align-items-end justify-content-center">
            <img width="220px" class="img-fluid" src="{% static 'img/sfe.png' %}" alt="Portfolio image">
          </div>
        </div>
      </div>
      <div class="portfolio-item filter-item white-box" data-filter="applications">
        <div class="portfolio-item-wrapper filter-item-default d-flex flex-column flex-lg-row">
          <div class="filter-item-wrapper-left">
            <div class="d-flex align-items-md-center flex-column flex-md-row">
              <h2 class="fw-900">SFE ERP</h2>
              <span class="filter-item-category">Applications</span>
            </div>
            <p class="filter-item-text">
              SFE ERP is the ERP Application to manage the electronics Purchasing, Selling, Inventory, Finance, HR and Accounting system
            </p>
            <button class="btn">Read more</button>
          </div>
          <div class="filter-item-wrapper-right d-flex align-items-end justify-content-center">
            <img width="220px" class="img-fluid" src="{% static 'img/sfe.png' %}" alt="Portfolio image">
          </div>
        </div>
      </div>
      <div class="portfolio-item filter-item white-box" data-filter="applications">
        <div class="portfolio-item-wrapper filter-item-default d-flex flex-column flex-lg-row">
          <div class="filter-item-wrapper-left">
            <div class="d-flex align-items-md-center flex-column flex-md-row">
              <h2 class="fw-900">SAIVA Marketing Web</h2>
              <span class="filter-item-category">Applications</span>
            </div>
            <p class="filter-item-text">
              Saiva is a football technology company specializing in AI-driven solutions for player development,
              performance analysis, and tactical insights, helping teams and players elevate their game through
              data-driven.
            </p>
            <button class="btn">Read more</button>
          </div>
          <div class="filter-item-wrapper-right d-flex align-items-end justify-content-center">
            <img width="220px" class="img-fluid" src="{% static 'img/saiva_marketing.png' %}" alt="Portfolio image">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}